[user]
	name = Daniel Pereira
	email = daniel.pereira@kaiostech.com
#Use meld tool as resoluted conflited
[merge]
	tool = meld
#When you use push will always name of branch actual
[push]
	default = current
[core]
	editor = vim
[fetch]
	prune = true
[difftool]
	#prompt = false
[alias]
	fe = fetch
	co = commit
	wip = commit -am "WIP"
	br = branch 
	ch = checkout
	chb = checkout -b
	add = add .
	st = status
	di = difftool
	me = mergetool
	po = pull origin
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	last = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
#Remove files .orig used in meld to compare diff
[mergetool]
	keepBackup = false
#Always force new branch get tracking
[branch]
	autosetuprebase = always