# ~/.config/i3status/config
# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 5
}

order += "wireless _first_"
order += "ethernet _first_"
order += "volume master"
order += "memory"
order += "tztime local"
order += "battery all"

wireless _first_ {
        format_up = "W: (%quality at %essid) %ip"
        format_down = "W: down"
}

ethernet _first_ {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery all {
        format = "BAT: %percentage "
}

memory {
        format = "%free(%total)"
        threshold_degraded = "1G"
        format_degraded = "LOW %free"
}

tztime local {
        format = "%a %b(%m)/%d %H:%M"
}
volume master {
        format = "♪: %volume"
        format_muted = "♪: muted (%volume)"
        device = "default"
}
