[user]
  name = Daniel Pereira
  email = daniel12fsp@yahoo.com.br

[alias]
  sync = "!f() { git fetch && git checkout origin/\"$1\" -B \"$1\"; }; f" 
  wip = !git add -A && git commit -m "WIP" -n
  fe = fetch
  co = commit 
  br = branch 
  ch = checkout
  chb = checkout -b
  st = status
  di = difftool
  me = mergetool
  last = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
  all = log --oneline --graph --all --abbrev-commit
  h = log -p --stat -M --follow

[diff]
  tool = meld

[difftool]
  prompt = false

[merge]
  tool = meld

[mergetool]
  prompt = false
  keepBackup = false

[push]
  default = current 
